@import url('https://fonts.googleapis.com/css?family=Alegreya');
$fa-font-path: "~font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


* {
    margin: auto;
    background-color: #FFFFFF;
    font-family: 'Alegreya';
}

#root{
    min-width: 1024px;
}

.image {
    display:block;
    width: 100%;
}
