@import url('https://fonts.googleapis.com/css?family=Alegreya');
$fa-font-path: "~font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome.scss';


* {
    background-color: #F0F0F0;
    font-family: 'Alegreya';
}

#root{
    min-width: 1024px;
    max-width: 2048px;
}

.image {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
