
@keyframes fadeout {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  @keyframes fadein {
    0% {
      opacity: 0;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.listOfProducts{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    overflow: hidden;
    justify-content: center; 
    align-items: center; 

    .iconWrapper{
      height: 5vw;
      text-align: center;
      display:inline-flex;
      flex:1;
      min-height: 200px;
      border:solid 1px #EEEEEE;

    }


}

.product{
    display:none;
    opacity:0;
    animation:fadeout  1000ms;
    flex:1;
    &--visible{
        animation: fadein  1000ms;
        opacity: 1;
        background-color: #EEEEEE;
        overflow:hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        width: 5vw;
        height: 5vw;
        min-width:200px;
        min-height: 200px;
        margin:5px;
        border-radius: 10px;

        div{
            display:block;
            width: 250px;
            background-color:inherit;
        }
    }
}